<div class="divider"><span></span></div>

<div class="col-md-12">
    <div class="titlesection">
        <h1>The best moments of your life</h1>
    </div>
</div>


<div class="container gridoptions clear-fix">
    <div id="options" class="col-md-12">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a class="selected" href="#filter" data-option-value="*">SHOW ALL</a><span>12</span></li>
            <li><a href="#filter" data-option-value=".filterone">Surf</a></li>
            <li><a href="#filter" data-option-value=".filtertwo">Ericeira</a></li>
            <li><a href="#filter" data-option-value=".filterthree">Nearby</a></li>
        </ul>
    </div>
</div>

<div id="gallery" class="container">
    <div class="isotope-filter stylemasonry">
        <div class="col-md-3 singlemasonry single-isotope-filter filterone">
            <div class="singleimagegallery">
                <a class="fancybox-thumbs" data-fancybox-group="gallery-1" href="/modules/core/img/gallery/big/img1.jpg">
                    <div class="btngallerypage rotate"></div>
                </a>
                <img alt="" class="imgsingleimagegallery" src="/modules/core/img/gallery/small/img1.jpg">
                <div class="titlesingleimagegallery">
                    <p>Lorem Ipsum<span class="bulletgallery"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
