<div class="container">
    <div class="col-md-12">
        <div class="titlesection">
            <h1>The Delicious Portuguese Food</h1>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div has-owl-carousel>
        <div class="owl-carousel owl-theme">
            <div class="calendar-date" ng-repeat="dish in dishes">
                <div class="item"><img class="lazyOwl" ng-src="/modules/core/img/dishes/{{ dish.img }}" alt="Lazy Owl Image"></div>
            </div>
        </div>
        <div class="arrow-prev animated fadeInRight" ng-click="prev()"></div>
        <div class="arrow-next animated fadeInLeft" ng-click="next()"></div>
    </div>
</div>
