<div  id="food" class="container">
    <div class="col-md-12">
        <div class="titlesection">
            <h1>The Delicious Portuguese Food</h1>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div has-owl-carousel>
        <div class="owl-carousel owl-theme show-biz">
            <div class="item" ng-repeat="dish in dishes">
                <img alt="" ng-src="{{ dish.img }}">
                <div class="show-biz-title">
                    <div class="avatar">
                        <img alt="" ng-src="{{ dish.sponsor }}">
                    </div>
                    <p>
                        <a ng-href="{{ dish.href }}">{{ dish.name }}</a>
                    </p>
                </div>
                <p class="description">{{ dish.description }}</p>
            </div>
            <!--<img class="lazyOwl" ng-src="/modules/core/img/dishes/{{ dish.img }}" alt="Lazy Owl Image">-->
        </div>
        <div class="col-md-6">
            <div class="arrow prev" ng-click="prev()"></div>
        </div>
        <div class="col-md-6">
            <div class="arrow next" ng-click="next()"></div>
        </div>
    </div>
</div>
