<footer id="footer">
    <a name="footer">
    <!--start container-->
    <div class="container clearfix">

        <div class="grid_6 gridfooter">
            <p class="socialfooter">
                <a href="#"><img alt="" src="/modules/core/img/footer/facebook.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/dribble.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/twitter.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/instagram.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/google.jpg" /></a></p>
        </div>
        <div class="grid_6 gridfooter">
            <!--start form-->
            <form class="newsletterfooter">
                <input type="submit" />
                <input type="text" placeholder="Enter email to get our newsletter" />
            </form>
            <!--end form-->
        </div>
    </div>
    <!--end container-->

</footer>
