<footer id="footer">
    <div class="container clearfix">
        <div class="col-md-6 col-sm-6 col-xs-12 gridfooter">
            <p class="social">
                <a href="#"><img alt="" src="/modules/core/img/footer/facebook.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/dribble.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/twitter.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/instagram.jpg" /></a>
                <a href="#"><img alt="" src="/modules/core/img/footer/google.jpg" /></a></p>
        </div>
        <!--<div class="col-md-6 col-sm-6 col-xs-12 gridfooter">-->
            <!--&lt;!&ndash;start form&ndash;&gt;-->
            <!--<form class="newsletter">-->
                <!--<input type="submit" />-->
                <!--<input type="text" placeholder="Enter email to get our newsletter" />-->
            <!--</form>-->
            <!--&lt;!&ndash;end form&ndash;&gt;-->
        <!--</div>-->
    </div>

    <a href="mailto:dfrnascimento@gmail.com" id="copyright">© Dário Nascimento 2015</a>


</footer>
