<div>
    <div class="container clear-fix">
        <ul filters id="filters" class="col-md-12">
            <li ng-repeat="filter in filters">
                <span ng-class="{selected: selectedFilter === filter}" ng-click="selectFilter(filter)" >{{ filter }}</span></li>
            </li>
        </ul>
    </div>

    <div id="gallery"  class="container">
        <div fancyboxer  fancyboxer-images="album">
            <div class="col-md-3 col-lg-2 col-sm-6 col-xs-12 photo" ng-repeat="photo in album | galleryFilter : selectedFilter">
                <a>
                    <div class="btngallery rotate red"></div>
                </a>
                <img alt="" ng-src="{{ photo.href }}">
                <div class="title">
                    <p>{{ photo.title }}<span class="bullet red"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
