<section ng-controller="HomeController">
	<!--<slider dir="img/slider" speed="3000" slides="['img1.jpg', 'img2.jpg', 'img3.jpg']"></slider>-->
	<!--<div ng-include="'/modules/core/views/services.view.html'"></div>-->
	<!--<div ng-include="'/modules/core/views/promotions.view.html'"></div>-->
	<!--<div class="divider"><span></span></div>-->
	<!--<div ng-include="'/modules/core/views/food.view.html'"></div>-->
	<!--<banner-sponsors sponsors="sponsors"></banner-sponsors>-->
	<!--<div class="divider"><span></span></div>-->

	<!--<div class="col-md-12">-->
		<!--<div class="titlesection">-->
			<!--<h1>Surfing Lessons</h1>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div ng-include="'/modules/core/views/lessons.view.html'"></div>-->
	<!--<div ng-include="'/modules/core/views/spots.view.html'"></div>-->
	<!--<div ng-include="'/modules/core/views/packs.view.html'"></div>-->
	<div ng-include="'/modules/core/views/trips.view.html'"></div>



</section>


