<section ng-controller="HomeController">
	<div fancyboxer fancyboxer-images="slides">
		<slider speed="3000" width="1280" height="500" slides="slides"></slider>
	</div>
	<div ng-include="'/modules/core/views/services.view.html'"></div>
	<div ng-include="'/modules/core/views/menu.view.html'"></div>
	<div class="divider"><span></span></div>
	<div ng-include="'/modules/core/views/food.view.html'"></div>
	<banner-sponsors sponsors="sponsors"></banner-sponsors>
	<div ng-include="'/modules/core/views/lessons.view.html'"></div>
	<div ng-include="'/modules/core/views/spots.view.html'"></div>
	<div ng-include="'/modules/core/views/packs.view.html'"></div>
	<div ng-include="'/modules/core/views/trips.view.html'"></div>
	<div ng-include="'/modules/core/views/album.view.html'"></div>
	<div ng-include="'/modules/core/views/housing.view.html'"></div>
	<div ng-include="'/modules/core/views/footer.view.html'"></div>
</section>


