<div class="container">
    <div class="col-md-6" ng-repeat="lesson in lessons">
        <!--start left-->
        <div class="lesson fade-left animate1 {{ lesson.color}}">
            <div class="left-lesson">
                <a href="{{ lesson.href }}"><img alt="" class="imgleft-lesson opacity" ng-src="/modules/core/img/surf/{{ lesson.img }}"></a>
                <div class="pricetitleleft-lesson">
                    <div class="priceleft-lesson">
                        <p>{{ lesson.price }}</p>
                    </div>
                    <p class="titleleft-lesson">{{ lesson.title }}</p>
                </div>
            </div>
            <!--end left-->

            <!--right-->
            <div class="right-lesson">
                <div class="titleday-lesson">
                    <a href="single-project.html"><p class="title-lesson">{{ lesson.descriptionTitle }}</p></a>
                    <div class="day-lesson">
                        <p>{{ lesson.durationTop }}</p>
                        <span>{{ lesson.durationUnit }}</span>
                    </div>
                </div>

                <div class="descriptionicons-lesson">
                    <p class="description-lesson">{{ lesson.description }}</p>
                    <p class="icons-lesson">
                        <a title="{{ icon.title }}" href="{{ icon.href }}" ng-repeat="icon in lesson.icons">
                            <img alt="" ng-src="/modules/core/img/surf/icon/{{ icon.img }}">
                        </a>
                    </p>
                </div>

            </div>
            <!--end right-->
        </div>
    </div>
</div>
