<div class="divider"><span></span></div>

<div class="container clearfix col-md-12">
    <div class="titlesection">
        <h1>Travel Packs</h1>
    </div>
</div>

<div id="travel-packs" class="container">
    <div class="pack col-md-3 col-xs-12 col-sm-6">
            <h4 class="title">Sintra</h4>
            <div class="value">
                <p><span class="currency">$</span> 50 <span class="littledescription">/ day trip</span></p>
                <p class="description">- <i>The fairyland of Portugal</i> -</p>
            </div>
            <div class="triangle"></div>



            <ul>
                <li><p>Pena Castle</p></li>
                <li class="lastlistitem"><p>National Palace of Sintra</p></li>
            </ul>


            <div class="footer">
                <div class="contact">
                    <a href="#"><span><img alt="" src="/modules/core/img/packs/contacticon.png">CONTACT</span></a>
                </div>

                <div class="more">
                    <a href="#"><span><img alt="" src="/modules/core/img/packs/moreicon.png">MORE</span></a>
                </div>
            </div>
    </div>

</div>
