<div class="container clearfix">
    <div class="col-md-12">
        <div class="titlesection">
            <h1>Travel Packs</h1>
        </div>
    </div>

    <div class="col-md-3">
        <div class="price yellow fade-left animate1">
            <h4 class="titleprice">Sintra</h4>
            <div class="valueprice">
                <p><span class="currency">$</span> 50 <span class="littledescription">/ day trip</span></p>
                <p class="descriptionprice">- <i>The fairyland of Portugal</i> -</p>
            </div>
            <div class="triangle"></div>
            <ul>
                <li><p>Pena Castle</p></li>
                <li class="lastlistitem"><p>National Palace of Sintra</p></li>
            </ul>


            <div class="footerhomeprices">
                <div class="contacthomeprice">
                    <a href="#"><span><img alt="" src="/modules/core/img/packs/contacticon.png">CONTACT</span></a>
                </div>

                <div class="morehomeprice">
                    <a href="#"><span><img alt="" src="/modules/core/img/packs/moreicon.png">MORE</span></a>
                </div>
            </div>

        </div>
    </div>
</div>
