<div class="sectionhome fade-up" id="homeservices">
    <div class="container clearfix">
        <div class="col-md-4" ng-repeat="service in services">
            <div class="homeservice">
                <div class="imgserviceopen">
                    <img alt="" ng-src="/modules/core/img/services/{{ service.imgOpen }}" />
                </div>
                <div class="imgservice">
                    <div easypiechart percent="service.percent" options="options">
                        <img alt="" ng-src="/modules/core/img/services/{{ service.img }}" />
                    </div>
                </div>
                <h2><a ng-href="{{ service.href }}">{{ service.title }}</a></h2>
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div>
</div>
