<div id="services">
    <div class="container clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="service in services">
            <div class="homeservice">
                <div class="imgserviceopen">
                    <img alt="" ng-src="{{ service.imgOpen }}" />
                </div>
                <div class="imgservice">
                    <div easypiechart percent="service.percent" options="options">
                        <img alt="" ng-src="{{ service.img }}" />
                    </div>
                </div>
                <h2><a ng-href="{{ service.href }}" du-smooth-scroll du-scrollspy>{{ service.title }}</a></h2>
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div>
</div>
