<div class="divider"><span></span></div>

<div class="col-md-12">
    <div class="titlesection">
        <h1>Surf Spots</h1>
    </div>
</div>


<div id="spots" class="container">
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
            <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="'onClick'">
                <!--<ui-gmap-windows show="{{ show }}">-->
                    <!--<div ng-non-bindable>{{title}}</div>-->
                <!--</ui-gmap-windows>-->
            </ui-gmap-markers>

        </ui-gmap-google-map>
    </div>


    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
        <div class="spots">
            <!-- start top -->
            <div class="top">
                <p class="title" ng-if="wave === undefined">Choose a spot in the map</p>
                <p class="title" ng-if="wave != undefined">{{ wave.name }}</p>

                <div class="img-and-description">
                    <img alt="" ng-src="/modules/core/img/spots/{{ wave.img }}" ng-if="wave != undefined">
                    <div class="description"  ng-if="wave != undefined">
                        <div>
                            <p>{{ wave.description }}</p>
                        </div>
                    </div>
                </div>
            </div>


            <!--start bottom-->
            <div class="bottom" ng-if="wave != undefined">
                <div class="list">
                    <ul>
                        <li ng-repeat="(key, value) in wave.type">
                            <p><span class="bullet"></span><b>{{ key }}: </b>{{ value }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
