<div class="divider"><span></span></div>

<div class="col-md-12">
    <div class="titlesection">
        <h1>Visiting around</h1>
    </div>
</div>


<div id="visiting" class="container">
    <div class="col-md-4">
        <div class="destination">
            <div class="left">
                <a href="gallery-masonry-with-filter-3-column.html"><div class="btngallery rotate red"></div></a>
                <img alt="" src="/modules/core/img/trips/convento.jpg">
            </div>

            <div class="right">
                <div class="title">
                    <h4>Mafra<span class="bullet red"></span></h4>
                </div>

                <div class="list">
                    <ul>
                        <li><a href="#"><p>Convento de Mafra</p></a></li>
                        <li><a href="#"><p>Aldeia José Franco</p></a></li>
                        <li><a href="#"><p>Parque Desportivo</p></a></li>
                        <li><a href="#"><p>Parque Desportivo</p></a></li>
                        <li><a href="#"><p>Parque Desportivo</p></a></li>
                        <li><a href="#"><p>Parque Desportivo</p></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <div class="icon">
                    <span><a href="#"><img alt="" src="/modules/core/img/trips/icongalleryarchivedestination.png"></a></span>
                </div>

                <div class="icon">
                    <span><a href="#"><img alt="" src="/modules/core/img/trips/iconpromotionarchivedestination.png"></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
