@import "public/less/variables.less";
@import "public/less/mixins.less";
@import "public/lib/bootstrap/less/variables.less";

#services{
  background-color: @blueBackground;
  display: block;
}

.homeservice{
  margin-top:0px !important;
  margin-bottom:0px !important;
  border-top:4px solid @blueBackground;
  text-align:center;
  height: 100%;

  .ease(0.5s);

  &:hover{
    background-color:@lightGray;
    .boxGlow(@dirtyWhite);

    h2{
      color:@blueBackground !important;
    }
  }

  h2, p, a{
    color: @dirtyWhite;
    .ease(0.5s);
  }

  a:hover{
    color: @hoverBlue;
  }

  p{
    font-size:15px;
    margin:10px 0px 20px 0px;
  }

  h2{
    margin-top:20px;
    display:inline-block;
  }

}


.imgservice{
  width:100%;
  float:left;
  z-index:999;
  margin-top:-70px;

  canvas{
    z-index:98;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position:absolute;
    left:0;
    top:0;
  }

  div{
    position:relative;
    z-index:98;
    margin:auto;
  }
}




.imgserviceopen{
  width:100%;
  float:left;
  position:relative;
  background-color:#F36;
  margin-top:-4px;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  .ease(0.5s);

  img{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:0;
  }
}


.homeservice:hover .imgserviceopen{
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  position:relative;
  z-index:97;
}
.homeservice:hover .imgserviceopen img{
  height:auto;
}



//responsive
@media only screen and (max-width: @screen-sm-max){
  .imgserviceopen, .imgservice{
      display: none;
  }
}
