/** Colors **/
@red:                      #CF5C60;
@blue:                     #2A94D6;
@yellow:                   #F3AE4E;
@green:                    #4AB471;
@blueBackground:           #344A5F;
@dirtyWhite:               #b3bbc6;
@hoverBlue:                #5e6d81;
@lightGray:                #f9fafc;
@white:                    #fff;
@btnFilter:                '/modules/core/img/menu/filter.png';

//** Padding between columns. Gets divided in half for the left and right. (override bootstrap)
@grid-gutter-width:         10px;


//Slider
@slideSpeed: 500ms;





.red{
  background-color: @red;
}

.blue{
  background-color: @blue;
}

.yellow{
  background-color: @yellow;
}

.green{
  background-color: @green;
}
